<!DOCTYPE html>
<html>
<head>
  <title>Blorgh</title>
  <%= stylesheet_link_tag "blorgh/application" %>
  <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.10.0.css">
  <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
  <script src="http://code.jquery.com/qunit/qunit-1.10.0.js"></script>
  <%= javascript_include_tag "blorgh/application" %>
  <%= javascript_include_tag "blorgh/jquery.cookie" %>
  <%= javascript_include_tag "blorgh/jquery.browser" %>
  <%= javascript_include_tag "https://raw.githubusercontent.com/AlexChittock/JQuery-Session-Plugin/master/jquery.session.js"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
